.counter-page{
     background-color: rgb(25, 27, 27); 
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.counter-section{
    border:1px solid red;
    height:50vh;
    width:40vw;
    padding:30px;
    background-color: white;
    text-align: center;
}

.btn-container{
    margin-top:10vh;
    padding: 40px;
    /* text-align: center; */
}

.button{
    background-color: #EF751B;
    height:80px;
    width:80px;
    border-radius: 100px;
    border:none;
    color:white
}

.left{
    margin-right: 100px;
    font-size: 32px;
}

.right{
    margin-left: 100px;
    font-size: 32px;
}